@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <h1 class="display-4">Welcome to the Contract Monthly Claim System</h1>
    <p>Please navigate to make your claim or view current claims.</p>

    <button type="button" class="btn btn-primary">Make a Claim</button>
</div>
