@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard";
}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Claim ID</th>
            <th scope="col">Claim Name</th>
            <th scope="col">Date of Claim</th>
            <th scope="col">Description</th>
            <th scope="col">Supprting Documents</th>
            <th scope="col">Claim Status</th>
        </tr>
    </thead>
    <tbody>

        <tr class="table-info">
            <th scope="row">Display Claim ID</th>
            <td>Display Claim Name</td>
            <td>Display Claim Date</td>
            <td>Display the description of the claim</td>
            <td>
            <select class="form-select" id="exampleSelect1">
                <option>Document 1</option>
                <option>Document 2</option>
            </select>
                <a href="#">Download</a>
            </td>
            <td>Display Claim Status</td>
        </tr>

    </tbody>
</table>