@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "LecturerClaims"; 
}

<div class="claim-container">
    <span class="claim-label">Claim ID : </span>
    <span class="claim-value">12345</span>
</div>
<div class="ClaimName-container">
    <span class="claim-label">Claim Name: </span>
    <span class="claim-value">LCCLM12345</span>
</div>
<div class="DateOfClaim-container">
    <span class="claim-label">Date O fClaim: </span>
    <span class="claim-value">2025/06/28</span>
</div>
<div class="ClaimStatus-container">
    <span class="claim-label">Claim Status: </span>
    <span class="claim-value">Pending</span>
</div>
<div>
    <select class="form-select" id="exampleSelect1">
        <option>Document 1</option>
        <option>Document 2</option>
    </select>
    <a href="#">Download</a>
</div>
<div class="Description-container">
    <span class="claim-label">Claim Description: </span>
    <span class="claim-value">This where the lecturer description will be.</span>
</div>
<button type="button" class="btn btn-primary">View Claims</button>
