@{
    ViewData["Title"] = "Claim Form";
}

<div>
    <label class="col-form-label mt-4" for="inputDefault">LecturerID</label>
    <input type="text" class="form-control" placeholder="Enter your Lecturer ID" id="inputDefault">
</div>

<div>
    <label class="col-form-label mt-4" for="inputDefault">Lecturer Name</label>
    <input type="text" class="form-control" placeholder="Enter your Name" id="inputDefault">
</div>

<div>
    <label for="exampleTextarea" class="form-label mt-4">Claim Description</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
</div>

<div>
    <label for="formFile" class="form-label mt-4">Supporting Files for Claim</label>
    <input class="form-control" type="file" id="formFile">
</div>

<button type="button" class="btn btn-success">Submit Claim</button>