@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ViewClaims";
}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Claim ID</th>
            <th scope="col">Claim Name</th>
            <th scope="col">Date of Claim</th>
            <th scope="col">Claim Status</th>
        </tr>
    </thead>
    <tbody>
        
        <tr class="table-info">
            <th scope="row">Display Claim ID</th>
            <td>Display Claim Name</td>
            <td>Display Claim Date</td>
            <td>Display Claim Status</td>
        </tr>
        
    </tbody>
</table>